{% extends 'base.html.twig' %}

{% block title %}New Rapport{% endblock %}

{% block body %}
    <div style="text-align: center">
        <h1>Creation d'un nouveau rapport</h1>
        <div >
            {{ include('rapport/_form.html.twig') }}
        </div>

        <button class="btn btn-primary" >
            <a style="color: white; text-decoration: none" href="{{ path('rapport_index') }}">Retour</a>
        </button>
    </div>

{% endblock %}
