{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}
    <link rel="stylesheet" href="{{ asset('/css/accueil.css') }}">
<div style="position: absolute; top: 50%; left: 50%; transform:translate(-50%, -50%);">
    <h1 class="title">GSB - Gestion des visites</h1>
</div>
{% endblock %}